.jumbotron {
    background: url(../img/back-master-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
}

.content-wrapper h1, .h1 {
    border-bottom: 1px solid #d8dfe5;
    padding-bottom: 0.8rem;
}

body {
    font-size: 1.75em;
}

h4 {
    text-decoration: underline;
}
