#site-main {
    background: aliceblue;
}

#masthead {
    background: url(../img/back-master-small.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: none;
    height: 26vh;
}

.thumbnail {
    border: 1px solid #aaa;
}

.features-image {
    height: 200px;
    position: relative;
}

.docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item.open>a, .docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item.open button {
    background: #495680;
}
.docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item .sub-section {
    background: #172651;
}
.docs #sidebar-wrapper .sidebar-nav .sidebar-nav-item .sub-section a.active {
    font-weight: bold;
}
.docs #sidebar-wrapper {
    background: #172651;
}

.docs #sidebar-wrapper #sidebar-brand {
    background: #495680;

}

.docs h4 {
    text-decoration: underline;
}

.docs .thumbnail img {
    width: 100%;
}
