@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #1c2d61; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #172651; }

::-moz-selection {
  background: #29428f;
  color: #FFFFFF; }

::selection {
  background: #29428f;
  color: #FFFFFF; }

.jumbotron {
  background-color: #1c2d61; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #1c2d61; }

pre {
  background: rgba(248, 251, 255, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #f8fbff; }

#content code {
  color: #6d7073;
  background-color: #f8fbff; }

#sidebar-wrapper {
  background: #1c2d61; }

#page-content-wrapper .nav a {
  color: #6d7073; }
  #page-content-wrapper .nav a:hover {
    color: #575a5c; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #172651; }
.sidebar-nav > li a.active {
  border-left: 3px solid #29428f;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #172651; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #172651; }
