#artwork/*.png
.envrc
target/
local/
node_modules/
dev.conf
elm-stuff
result
_site/
*.qcow2
/website/site/content/docs/install/changelog.md
/website/site/public/
/website/site/static/openapi/
/website/site/static/files/
/website/site/static/js/bundle.js
/website/site/static/styles.css
/website/site/static/syntax-*.css
/website/site/static/webfonts/
/website/site/static/files/*.woff*
/website/site/static/examples/
/website/site/templates/shortcodes/addon-output
/website/site/templates/shortcodes/item-data
/website/site/templates/shortcodes/item-args
/website/site/templates/shortcodes/file-meta
/website/site/templates/shortcodes/server.conf
/website/site/templates/shortcodes/sample-exim.conf
/website/site/templates/shortcodes/joex.conf
/website/site/templates/shortcodes/config.env.txt
/docker/docs
/docker/dev-log

.idea/*
sbt.json
/yarn.lock
