<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <span>
                Docspell {{ config.extra.version }}
            </span>
            <span class="ml-1 mr-1">•</span>
            <a href="https://spdx.org/licenses/AGPL-3.0-or-later.html" target="_blank">AGPLv3+</a>
            <span class="ml-1 mr-1">•</span>
            <a href="https://github.com/eikek/docspell" target="_blank">
                Source Code
            </a>
            <span class="ml-1 mr-1">•</span>
            <span>
                Chat on <a href="https://gitter.im/eikek/docspell">Gitter</a>/<a href="https://app.element.io/#/room/#eikek_docspell:gitter.im">Matrix</a>
            </span>
        </div>
    </div>
    {# <pre> {{ __tera_context }} </pre> #}
</footer>
