<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <span>
                Docspell, {{ config.extra.version }}
            </span>
            <span class="ml-1 mr-1">•</span>
            <a href="https://spdx.org/licenses/GPL-3.0-or-later.html" target="_blank">GPLv3+</a>
            <span class="ml-1 mr-1">•</span>
            <a href="https://github.com/eikek/docspell" target="_blank">
                Source Code
            </a>
            <span class="ml-1 mr-1">•</span>
            <span>
                © 2020
                <a href="https://github.com/eikek" target="_blank">
                    @eikek
                </a>
            </span>
        </div>
    </div>
    {# <pre> {{ __tera_context }} </pre> #}
</footer>
