<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "meta.html" %}
        <title>Docspell – Simple document organizer</title>
        <link rel="stylesheet" href="styles.css">
        <script type="application/javascript" src="js/bundle.js"></script>
    </head>
    <body id="app">
    </body>
    <script type="application/javascript">
     var elmFlags = {
         "version": "{{ config.extra.version }}"
     };
     var elmApp = Elm.Main.init({
         node: document.getElementById("app"),
         flags: elmFlags
     });
    </script>
    {% include "fathom.html" %}
</html>
