<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Eike Kettner">
<meta name="description" content="Docspell is a Document Management System (DMS), a system that asists in organizing your piles of documents, resulting from scanners, e-mails and other sources with miminal effort.">
<meta name="keywords" content="document management system dms organizer ocr open source free scan pdf word doc archive gpl machine learning nlp auto tagging"/>
<meta name="robots" content="index,follow"/>
<meta name="image" property="og:image" content="/img/poster.png">
<meta name="title" property="og:title" content="Docspell – Simple Document Organizer">
<meta name="og:image" content="/img/poster.png">
<meta name="og:title" content="Docspell – Simple Document Organizer">
<meta name="og:site_name" content="{% if section is defined %}{{ section.title }} - {% endif %}{%if page is defined %}{{ page.title }} - {% endif %}Docspell">
<meta name="og:url" content="">
<meta name="og:type" content="website">
<meta name="og:description" content="Simple Document Organizer">
<meta name="twitter:title" content="Docspell">
<meta name="twitter:image" content="/img/poster.png">
<meta name="twitter:description" content="Simple Document Organizer">
<meta name="twitter:card" content="summary_large_image">

<link rel="shortcut icon" href="/favicon-mc.ico" type="image/x-icon">
<link rel="icon" href="/favicon-mc.ico" type="image/x-icon">
