<nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <img src="/icons/logo-only.svg">
                </span>
                <span>
                    Docspell
                </span>
            </a>
        </div>
        <div class="navbar-start">
            <a target="_blank"
               href="https://github.com/eikek/docspell"
               class="navbar-item">
                <span class="icon">
                    <img src="/icons/github-40.svg">
                </span>
                <span>
                    Github
                </span>
            </a>
        </div>
</nav>
