<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "meta.html" %}
        <title>{{ section.title }} – Docspell Documentation</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <section class="hero is-info is-small">
            <div class="hero-head">
                {% include "navbar.html" %}
            </div>
            <div class="hero-body">
                <h1 class="title">
                    Docspell Documentation
                </h1>
                <h2 class="subtitle">
                    {{ section.title }}
                </h2>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="content is-size-5">
                    This is the documentation for Docspell, version {{ config.extra.version }}.
                </div>
                <div class="columns is-multiline">
                    {% for section in section.subsections %}

                    {% set sub = get_section(path=section) %}

                    <div class="column is-one-third-widescreen is-half-tablet">
                        <div class="card full-height">
                            <a href="{{sub.permalink | safe}}">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">
                                                {{ sub.title | title }}
                                            </p>
                                            <p class="has-text">
                                                {{ sub.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        {% include "footer.html" %}
    </body>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
     (function(f, a, t, h, o, m){
         a[h]=a[h]||function(){
             (a[h].q=a[h].q||[]).push(arguments)
         };
         o=f.createElement('script'),
         m=f.getElementsByTagName('script')[0];
         o.async=1; o.src=t; o.id='fathom-script';
         m.parentNode.insertBefore(o,m)
     })(document, window, '//webstats.daheim.site/tracker.js', 'fathom');
     fathom('set', 'siteId', 'OGJDF');
     fathom('trackPageview');
    </script>
    <!-- / Fathom -->
</html>
