<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>

        <encoder>
            <pattern>%highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="docspell" level="warn" />
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
