<footer class="w-full pt-8 pb-4 px-8 mt-4 bg-stone-50 dark:bg-stone-800 bg-opacity-80 dark:bg-opacity-50">
  <div class="text-center text-sm">
        <span>
            Docspell {{ config.extra.version }}
        </span>
        <span class="ml-1 mr-1">•</span>
        <a href="https://spdx.org/licenses/AGPL-3.0-or-later.html" target="_blank">AGPLv3+</a>
        <span class="ml-1 mr-1">•</span>
        <a href="https://github.com/eikek/docspell" target="_blank">
            Source Code
        </a>
        <span class="ml-1 mr-1">•</span>
        <span>
            Chat on <a href="https://gitter.im/eikek/docspell" >Gitter</a>/<a href="https://app.element.io/#/room/#eikek_docspell:gitter.im" class="link">Matrix</a>
        </span>


    {% if relative_path is defined %}
    <div class="flex-grow flex flex-row justify-end items-end text-xs opacity-60">
        <a href="https://github.com/eikek/docspell/edit/current-docs/website/site/content/{{ relative_path }}"
           title="Edit this page on Github"
           target="_blank"
        >
            <i class="fa fa-edit "></i>
            Edit
        </a>
    </div>
    {% endif %}
    </div>

    {# <pre> {{ __tera_context }} </pre> #}
</footer>
