name: CI
on:
  pull_request:
    branches:
      - master
jobs:
  ci-matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: cachix/install-nix-action@v27
      - name: sbt ci ${{ github.ref }}
        run: nix develop .#ci --command sbt ci
  ci:
    runs-on: ubuntu-22.04
    needs: [ci-matrix]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
