name: Publish Docker Images
on:
  release:
    types: [ published ]
jobs:
  docker-images:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.1
        with:
          fetch-depth: 0
      - name: Set current version
        run:  echo "DOCSPELL_VERSION=$(cat version.sbt | grep version | cut -d= -f2 | xargs)" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker Images (${{ env.DOCSPELL_VERSION }})
        run: ./docker/dockerfiles/build.sh ${{ env.DOCSPELL_VERSION }} --push
