name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v31
      - name: Set current version
        run:  echo "DOCSPELL_VERSION=$(cat version.sbt | grep version | cut -d= -f2 | xargs)" >> $GITHUB_ENV
      - name: sbt make-pkg (${{ env.DOCSPELL_VERSION }})
        run: nix develop .#ci --command sbt make-pkg
      - name: Upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Docspell ${{ env.DOCSPELL_VERSION }}
          with:
            files: |
              modules/restserver/target/docspell-restserver_${{ env.DOCSPELL_VERSION }}_all.deb
              modules/restserver/target/universal/docspell-restserver-${{ env.DOCSPELL_VERSION }}.zip
              modules/joex/target/docspell-joex_${{ env.DOCSPELL_VERSION }}_all.deb
              modules/joex/target/universal/docspell-joex-${{ env.DOCSPELL_VERSION }}.zip
