name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        java: [ 'openjdk@1.11' ]
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.java }}
      - uses: jorelali/setup-elm@v4
        with:
          elm-version: 0.19.1
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: modules/webapp
      # - name: Coursier cache
      #   uses: coursier/cache-action@v6
      - name: Set current version
        run:  echo "DOCSPELL_VERSION=$(cat version.sbt | grep version | cut -d= -f2 | xargs)" >> $GITHUB_ENV
      - name: sbt make-pkg (${{ env.DOCSPELL_VERSION }})
        run: sbt make-pkg
      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Docspell ${{ env.DOCSPELL_VERSION }}
          gzip: false
          draft: true
          prerelease: false
          allow_override: false
          files: >
            modules/restserver/target/docspell-restserver_${{ env.DOCSPELL_VERSION }}_all.deb
            modules/restserver/target/universal/docspell-restserver-${{ env.DOCSPELL_VERSION }}.zip
            modules/joex/target/docspell-joex_${{ env.DOCSPELL_VERSION }}_all.deb
            modules/joex/target/universal/docspell-joex-${{ env.DOCSPELL_VERSION }}.zip
